.overflow {
    height: 50%;
    overflow: hidden;
}
.overflow .card-img-top {
    transform: scale(1);
    transition: all .2s ease-in-out;
}
.overflow .card-img-top:hover {
    transform: scale(1.3);
}

/* Loader "NProgress" */
#nprogress .bar {
    background: #ff5367 !important;
}
#nprogress .spinner-icon {
    border-top-color: #ffbb00;
    border-left-color: #ffbb00;
}